In [1]:
s = input("Enter the string:")
for i in s:
    print (i)

Enter the string:aneesh
a
n
e
e
s
h

In [3]:
s = input("Enter the string:")
for i in s:
    print (ord(i))

Enter the string:Aneesh
65
110
101
101
115
104

In [25]:
a = input(" Enter the numbers separated by space")
a = a.split(' ')
add = 0
for i in a:
    i = int(i)
    for _ in range(0,i%2):
        add += i
print (add)

 Enter the numbers separated by space12 13 15
28

In [33]:
a = input(" Enter the numbers separated by space")
a = a.split(' ')
print (a)
t = tuple(a)
print (t)
print (t.index('20'))

 Enter the numbers separated by space12 12 30 20 45 34
['12', '12', '30', '20', '45', '34', '']
('12', '12', '30', '20', '45', '34', '')
3

In [49]:
import random
l = []
add = 0
for i in range(0,10):
    x = random.randrange(1,100)
    add += x
    l.append(x)
    
print ("List is:" ,l)
print ("Sum of all number is:", (add))
print ("Average of all number is:" ,(add/10))
print ("List at even index is:" ,(l[::2]))

List is: [48, 20, 17, 54, 48, 73, 20, 81, 38, 39]
Sum of all number is: 438
Average of all number is: 43.8
List at even index is: [48, 17, 48, 20, 38]

In [50]:
l = []
for i in range(0,10):
    a = int (input ("Enter the number:"))
    l.append(a)
    add += a
print ("list is:",l)
print ("Sum is:",add)

Enter the number:12
Enter the number:12
Enter the number:23
Enter the number:34
Enter the number:32
Enter the number:33
Enter the number:22
Enter the number:22
Enter the number:22
Enter the number:4
list is: [12, 12, 23, 34, 32, 33, 22, 22, 22, 4]
Sum is: 654

In [67]:
n = int (input ("Enter the number:"))
for i in range(1,11):
    #z = n* i
    print (n , ' x', i, ' = ', n*i )

Enter the number:5
5  x 1  =  5
5  x 2  =  10
5  x 3  =  15
5  x 4  =  20
5  x 5  =  25
5  x 6  =  30
5  x 7  =  35
5  x 8  =  40
5  x 9  =  45
5  x 10  =  50

In [76]:
s = input ("Enter the string:")
count = 0
for i in s:
    if i == ' ':
        count += 1
print (count)

Enter the string:ane jfhf dddh    hg
6

In [ ]:
a = input("Enter a string:")
s = a.lower()
c = s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')
print(c)

In [ ]:
a = input("Enter a string:")
s = a.lower()
s = s.replace('a','_').replace('e','_').replace('i','_').replace('o','_').replace('u','_')
print (s)

In [ ]:
for num in range(5):
    print ("Num :", num)
    if num%2 == 0:
        break
print ("Loop ends")